h3 Add new Catalog
hr
form.form.form-horizontal(name="catalogAddForm")
    .form-group
        label.col-sm-3.control-label(for="name" ) Name
        .col-sm-7
            input.form-control(
            id="name"
            name="name"
            type="text"
            placeholder="Input name"
            ng-model="catalog.name"
            required
            )
    .form-group
        label.col-sm-3.control-label(for="company_id" ) Company
        .col-sm-7
            select.form-control(
            id="company_id"
            name="company_id"
            type="text"
            ng-model="catalog.company_id"
            ng-options="item._id as item.name for item in companies "
            required
            )
                option(value="") select company
    h3 Groups
    a.btn.btn-success(ng-click="addGroup()") Add
    .row(ng-repeat="group in catalog.groups")
        .col-sm-8
            input.form-control(
            ng-model="group.name"
            type="text"
            required
            )
        .col-sm-2
            a.btn.btn-danger.glyphicon.glyphicon-remove(ng-click="removeGroup($index)")
    hr
button.btn.btn-primary.col-sm-offset-3(
ng-click="save()"
ng-disabled="catalogAddForm.$invalid"
) Save
